{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "layouts/ui/header/pins-header.njk" import pinsHeader %}

{% macro header(serviceName) %}
    {{ pinsHeader({isExternal: true}) }}

    {{ govukServiceNavigation({
        serviceName: serviceName,
        serviceUrl: "/",
        classes: 'pins-service-navigation',
        navigation: [
            {
                href: "/",
                text: "Home"
            },
            {
                href: "/my-journey/list",
                text: "Case list"
            }
        ]
    }) }}
{% endmacro %}
